<form [formGroup]="form">
  <input formControlName="name" />
  
    <div formGroupName="contact">
      <input formControlName="email">
      <input formControlName="phone">
    </div>

    <input
      type="text" 
      class="form-control"
      (keyup.enter)="addTopic(topic)" 
      #topic />
    <ul class="list-group">
      <li 
        *ngFor="let topic of topics.controls"
        (click)="removeTopic(topic)"
        class="list-group-item">
        {{ topic.value }}
      </li>
    </ul>
</form>