<div class="zippy">
  <div class="zippy-heading" [class.expanded]="isExpanded" (click)="onToggle()">
     {{ title }}
     <span class="glyphicon" [ngClass]="{'glyphicon-chevron-up': isExpanded, 'glyphicon-chevron-down': !isExpanded}"></span>
    </div>
  <div class="zippy-body" *ngIf="isExpanded">
    <ng-content></ng-content>
  </div>
</div>