@import "~@angular/material/_theming";

@include mat-core();

/* #region Define The custom theme */
$app-primary: mat-palette($mat-green, 600);
$app-accent: mat-palette($mat-pink, 600);
$app-warn: mat-palette($mat-red);

$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
/* #endregion */

/* #region Define custom typography */
$app-typography: mat-typography-config(
    $font-family: '"Open Sans", "Helvetica Neue", sans-serif',
    $headline:      mat-typography-level(32px, 35px, 600)
);

@include angular-material-typography($app-typography);
/* #endregion */

// Mixing (and variables) example 
// @mixin soft-border($border-radius) {
//     border: 1px solid #ccc;
//     border-radius: $border-radius;
//     padding: 10px;
// }
// .box {
//     @include soft-border(5px);
// }
// .modern-box {
//     @include soft-border(10px);
// }