  <h1>
    {{ post.title }}
  </h1>
<app-courses></app-courses>
<app-favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-favorite>

<hr/>

<input type="text" [(ngModel)]="post.title">
<br>
{{ post.title | titleCase }}

<hr/>

<navbar></navbar>
<router-outlet></router-outlet>

<app-panel>
  <div class="heading">Heading</div>
  <div class="body">
    <h2>Body</h2>
    <p>Brødtekst her...</p>
  </div>
</app-panel>

<hr>

<app-like 
  [likes-count]="tweet.likesCount"
  [is-liked]="tweet.isLiked">
</app-like>

<hr>

<div *ngIf="courses.length > 0; else noCourses">
  List of Courses
</div>
<ng-template #noCourses>
  No Courses Yet
</ng-template>

<hr>

<ul class="nav nav-pills">
  <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
  <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>

<hr>

<input type="text" appInputFormat>

<hr>

<app-zippy title="Shipping Details">
  Shipping Details Content
</app-zippy>
<app-zippy title="Billing Details">
  Billing Details Content
</app-zippy>

<hr>
<app-contact-form></app-contact-form>

<hr>
<app-create-course-form></app-create-course-form>

<hr>
<app-signup-form></app-signup-form>

<hr>
<app-new-course-form></app-new-course-form>

<hr>
<app-change-password></app-change-password>

<hr>


<!-- <hr>
<app-github-followers></app-github-followers>

<hr>
<app-posts></app-posts> -->