<h1>Angular Material</h1>
<mat-checkbox
    #showDetails
    [value]=""
    [checked]="isChecked"
    (change)="onChange($event)"
    >Show Details
</mat-checkbox>
<div *ngIf="showDetails.checked" >Some details...</div>
<hr>

<mat-radio-group value="0">
    <mat-radio-button value="1">Male</mat-radio-button>
    <mat-radio-button value="0">Female</mat-radio-button>
</mat-radio-group>

<hr>

<mat-form-field>
    <mat-select placeholder="Please select a color">
        <mat-option 
            *ngFor="let color of colors"
            [value]="color.id"
            >{{ color.name }}
        </mat-option>
    </mat-select>
</mat-form-field>
<hr>

<mat-form-field>
    <input
        ngModel
        #username="ngModel"
        name="username" 
        type="text" 
        matInput 
        placeholder="Username" 
        required>
    <mat-hint>Type a unique username.</mat-hint>
    <span matPrefix>admin.</span>
    <span matSuffix>@domain.com</span>
    <mat-error *ngIf="username.invalid && username.errors.required">The username field is required</mat-error>
</mat-form-field>
<br>
<mat-form-field>
    <textarea 
        matInput
        placeholder="textarea"
        matTextareaAutosize
        rows="2"></textarea>
</mat-form-field>
<br>

<mat-form-field>
    <input
        (focus)="birthdate.open()"
        [min]="minDate"
        [max]="maxDate"
        type="text"
        matInput
        [matDatepicker]="birthdate"
        placeholder="Choose your birthdate">
    <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
    <mat-datepicker #birthdate touchUi="true"></mat-datepicker>
</mat-form-field>
<hr>
<mat-icon>add_alert</mat-icon>
<hr>

<button color="primary" mat-raised-button>Primary</button>
<button color="accent" mat-raised-button>Accent</button>
<button color="warn" mat-raised-button>Warn</button>
<button mat-fab mat-raised-button><mat-icon>check</mat-icon></button>
<hr>

<mat-chip-list>
    <mat-chip *ngFor="let category of categories"
    (click)="selectCategory(category)"
    [selected]="category.selected"
    >{{ category.name }}</mat-chip>
</mat-chip-list>
<hr>
<mat-progress-spinner mode="determinate" [value]="progress"></mat-progress-spinner>
<hr>
<span matTooltipPosition="right" matTooltip="This is a tooltip">Tooltip testing</span>
<hr>

<mat-tab-group>
    <mat-tab label="Billing">
        <p>This is a paragraph of text.</p>
    </mat-tab>
    <mat-tab label="Shipping">
        <p>This is another paragraph of text.</p>
    </mat-tab>
</mat-tab-group>
<hr>


<button mat-raised-button
        (click)="openDialog()">Open Dialog</button>
<hr>

<button color="primary" mat-raised-button>Button 1</button>
<button color="accent" mat-raised-button>Button 2</button>


      


 

