<form [formGroup]="form">
  
  <div class="form-group">
    <label for="">Old Password</label>
    <input formControlName="oldPassword" type="password" class="form-control">
    <div *ngIf="oldPassword.pending">...</div>
    <div 
      *ngIf="oldPassword.touched && oldPassword.invalid"
      class="alert alert-danger">
      <div *ngIf="oldPassword.errors.required">Old Password is Required.</div>
      <div *ngIf="oldPassword.errors.invalidOldPassword">Old Password is Invalid.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="">New Password</label>
    <input formControlName="newPassword" type="password" class="form-control">
    <div 
      *ngIf="newPassword.touched && newPassword.invalid"
      class="alert alert-danger">
      <div *ngIf="newPassword.errors.required">New Password is Required.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="">Confirm Password</label>
    <input formControlName="confirmPassword" type="password" class="form-control">
    <div 
      *ngIf="confirmPassword.touched && confirmPassword.invalid"
      class="alert alert-danger">
      <div *ngIf="confirmPassword.errors.required">Confirm Password is Required.</div>
    </div>
    <div 
      *ngIf="confirmPassword.valid && form.invalid && form.errors.passwordsShouldMatch" 
      class="alert alert-danger">
      Passwords do Not Match.
    </div>
  </div>

      <button class="btn btn-primary">Save</button>
</form>