<div *ngFor="let follower of followers" class="media">
  <div class="media-left">
    <img class="avatar media-object" src="{{ follower.avatar_url }}" alt="{{ follower.login }}'s avatar">
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <a [routerLink]="['/followers', follower.id, follower.login]">{{ follower.login }}</a> 
    </h4>
    <a href="{{ follower.html_url }}">{{ follower.html_url }}</a>
  </div>
</div>