
<input type="text" (keyup.enter)="add(course)" #course>

<ul>
  <li *ngFor="let course of courses | async">
    {{ course.name || course || '[has no name]' }}
    <button (click)="update(course.key)">Update</button>
    <button (click)="delete(course.key)">Delete</button>
  </li>
</ul>
<p>{{ course$ | async | json }}</p>
<p>{{ author$ | async | json }}</p>

<ul *ngIf="(author$ | async) as author">
  <li>{{ author.name }}</li>
  <li>{{ author.students }}</li>
  <li>{{ author.isPremium }}</li>
</ul>