<form #f="ngForm" (ngSubmit)="submit(f.value)">
  <div class="form-group">
    <label for="courseName">Course Name</label>
    <input 
    required
    minlength="5"
    ngModel
    name="courseName"
    #name="ngModel"
    type="text" 
    id="courseName"
    class="form-control">
  </div>
  <div *ngIf="name.touched && !name.valid" class="alert alert-danger">
    <div *ngIf="name.errors.required">Name Field Is Required.</div>
    <div *ngIf="name.errors.minlength">Course Name must be at least {{ name.errors.minlength.requiredLength }} letters.</div>
  </div>
  
  <div class="form-group">
    <label for="category">Category</label>
    <select required ngModel name="category" #category="ngModel" id="category" class="form-control">
      <option value="">Select a category</option>
      <option *ngFor="let c of courseCategories" [value]="c.id">{{ c.name }}</option>
    </select>
    <div *ngIf="category.touched && !category.valid" class="alert alert-danger">
      Category field is required.
    </div>
  </div>

  <div class="checkbox">
    <label for="moneyBackGuarantee">
      <input ngModel name="hasMoneyBackGuarantee" type="checkbox" id="moneyBackGuarantee">
      30-day money-back guarantee
    </label>
  </div>
  <P>{{ f.value | json }}</P>
  <button class="btn btn-primary" [disabled]=f.invalid>Create Course</button>
</form>