<button class="btn btn-primary" [class.active]="isActive" [style.backgroundColor]="isActive ? 'blue' : 'grey'">ToggleActiveTestButton</button>
<button class="btn" (click)="onSave($event)">Save</button>

<input type="text" [(ngModel)]="email" (keyup.enter)="onKeyUp()"/>