<p>
  Do you want to edit this Course?
</p>

<button mat-raised-button matDialogClose="confirm">Yes</button>
<button mat-raised-button matDialogClose="decline">No</button>
<button mat-raised-button matDialogClose="cancel">Cancel</button>